button {
  touch-action: manipulation;
  font-size: inherit;
  background-color: transparent;
  color: currentColor;
  letter-spacing: inherit;
  cursor: pointer;
  transition: opacity 200ms ease-out;
  -webkit-tap-highlight-color: transparent;
}

button:disabled {
  opacity: 0.25;
  pointer-events: none;
}
